Pods
.DS_Store
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
*.xcworkspace
*.generated.swift

Debug.plist
QA.plist
Release.plist

DebugConfig.xcconfig
QAConfig.xcconfig
ReleaseConfig.xcconfig

*.bak

fastlane/README.md
fastlane/report.xml
